*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    background-color: #143F6B;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .piano {
    display: flex;
    position: fixed;
  }

  .recordingMenu{
    position: relative;
    bottom: 300px;
    left: 700px;
    color: white;
  }

  .recordings{
    position: relative;
    top: 300px;
    left: 150px;
  }

  .deleteRecordings{
    position: relative;
    top: 400px;
    right: 550px;
  }

  .stopRecording{
    position: relative;
    top: 300px;
  }
  
  .key {
    height: calc(var(--width) * 4);
    width: var(--width);
  }
  
  .white {
    --width: 100px;
    background-color: white;
    border: 1px solid #333;
  }
  
  .white.active {
    background-color: #CCC;
  }
  
  .black {
    --width: 60px;
    background-color: black;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
  }
  
  .black.active {
    background-color: #333;
  }